{% assign header = site.data.data.header %}

<header class="resume-header pt-4 pt-md-0">
  <div class="row no-gutters">
    <div class="col-auto">
      <img class="picture" src="{{ '/assets/154.png' | relative_url }}" alt="Profile" />
    </div>

    <div class="col">
      <div class="p-4 d-flex flex-column flex-md-row justify-content-between">
        <div class="primary-info">
          <h1 class="name mt-0 mb-1 text-white text-uppercase">{{ site.author }}</h1>
          <div class="title mb-3">{{ site.tagline }}</div>

          <ul class="list-unstyled mb-0">
            {% if header.email %}<li class="mb-2"><i class="fa-solid fa-envelope mr-2"></i><a href="mailto:{{ header.email }}">{{ header.email }}</a></li>{% endif %}
            {% if header.phone %}<li class="mb-2"><i class="fa-solid fa-phone mr-2"></i><a href="tel:{{ header.phone }}">{{ header.phone }}</a></li>{% endif %}
            {% if header.website %}<li class="mb-2"><i class="fa-solid fa-globe mr-2"></i><a href="{{ header.website }}">{{ header.website }}</a></li>{% endif %}
          </ul>
        </div>

        <div class="secondary-info mt-4 mt-md-0">
          <ul class="resume-social list-unstyled mb-0">
            {% if header.linkedin %}<li class="mb-2"><a href="{{ header.linkedin }}"><span class="fa-container text-center mr-2"><i class="fa-brands fa-linkedin-in"></i></span>{{ header.linkedin }}</a></li>{% endif %}
            {% if header.github %}<li class="mb-2"><a href="{{ header.github }}"><span class="fa-container text-center mr-2"><i class="fa-brands fa-github"></i></span>{{ header.github }}</a></li>{% endif %}
            {% if header.xing %}<li class="mb-2"><a href="{{ header.xing }}"><span class="fa-container text-center mr-2"><i class="fa-brands fa-xing"></i></span>{{ header.xing }}</a></li>{% endif %}
            {% if header.twitter %}<li class="mb-2"><a href="{{ header.twitter }}"><span class="fa-container text-center mr-2"><i class="fa-brands fa-x-twitter"></i></span>{{ header.twitter }}</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

