{% assign header = site.data.data.header %}

<header class="resume-header pt-4 pt-md-0">
  <div class="row no-gutters">
    <div class="col-auto">
      <img class="picture" src="{{ '/assets/154.png' | relative_url }}" alt="Profile" />
    </div>

    <div class="col">
      <div class="p-4 d-flex flex-column flex-md-row justify-content-between">
        <div class="primary-info">
          <h1 class="name mt-0 mb-1 text-white text-uppercase">{{ site.author }}</h1>
          {% if header.tagline_lines %}
            <div class="title mb-3 header-tagline-lines">
              {% for item in header.tagline_lines %}
                <div class="header-tagline-line">&gt; {{ item }}</div>
              {% endfor %}
            </div>
          {% else %}
            <div class="title mb-3">{{ site.tagline }}</div>
          {% endif %}
        </div>

        <div class="secondary-info mt-4 mt-md-0">
          <ul class="resume-social list-unstyled mb-0">
            {% if header.email %}
              <li class="mb-2">
                <a href="mailto:{{ header.email }}">
                  <span class="fa-container text-center mr-2"><i class="fa-solid fa-envelope"></i></span>{{ header.email }}
                </a>
              </li>
            {% endif %}

            {% if header.phone %}
              <li class="mb-2">
                <a href="tel:{{ header.phone }}">
                  <span class="fa-container text-center mr-2"><i class="fa-solid fa-phone"></i></span>{{ header.phone }}
                </a>
              </li>
            {% endif %}

            {% if header.linkedin %}
              <li class="mb-2">
                <a href="{{ header.linkedin }}">
                  <span class="fa-container text-center mr-2"><i class="fa-brands fa-linkedin-in"></i></span>LinkedIn
                </a>
              </li>
            {% endif %}

            {% if header.xing %}
              <li class="mb-2">
                <a href="{{ header.xing }}">
                  <span class="fa-container text-center mr-2"><i class="fa-brands fa-xing"></i></span>Xing
                </a>
              </li>
            {% endif %}

            {% if header.website %}
              <li class="mb-2">
                <a href="{{ header.website }}">
                  <span class="fa-container text-center mr-2"><i class="fa-solid fa-globe"></i></span>Website
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

