---
---

@charset "utf-8";

// online-cv expects these to exist via remote_theme.
// We only add a tiny override import at the end.

{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

@import "skins/{{ site.theme_skin | default: 'blue' }}";
@import "default";
@import "overrides";

